node_modules/
test-results/
playwright-report/
dist
yarn-error.log
.vscode
.taskkey
.env
.tester/
.cucumber/
.csv/
.excel/
.framework-tests/
.cucumber/
.cucumber
.framework-tests
.saffron_design_system/
.saffron_design_system
.saffron_design_system
.playwright-atrium
.saffron_design_system/specs/
specs/
.next-steps.md
playwright-ai-agents/
capability-roadmap.md